/* Css Varibales */
:root {
  /* These css varibales save me from having to input the values stored in the css which is useful as these are commonly used */
  --primary: #4CAF50;
  --dark: #388E3C;
  --shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Bubblegum Sans', sans-serif;
  box-sizing: border-box;  /* Includes padding and border in an elements total width and height */
}

a {
  text-decoration: none;
  color: black; /* Made the text black so that there is no purple colour */
}

h1 {
  font-size: 800%;
}

h2 {
  font-size: 400%;
}

h3 {
  font-size: 300%;
}

h4 {
  font-size: 200%;
}

/* Navbar */

header {
  background-color: var(--primary);
  padding: 25px;
  position: fixed;  /*Fixes the navbar to the screen so it follows the user as they scroll down */
  width: 100%;
  z-index: 1; /* Specifies the stack order of the navbar the heighest so that it appears over items */
}

nav li, nav a {
  display: inline-block;
}

nav a {
  color: black;
  font-size: 150%;
  padding: 10px 50px;
  margin-left: 20px;
  border: 3px black solid;
}

nav a:hover {
  background-color: var(--dark);
}

.active {
  box-shadow: var(--shadow);
}

/* Splash Page */
.landing-page {
  padding: 104px 0px; /* This padding prevents the navbar from covering this content */
  text-align: center;
}

.landing-page h1 {
  padding-top: 80px;

}
.landing-page img {
  margin: 80px 0px;
  padding: 0 10px;
}

.landing-page a {
  color: white;
  border: 3px red solid;
  border-radius: 5px; /* Smoothens the edges of the call to action button*/
  padding: 8px 100px;
  font-size: 200%;
  /* margin-top: 80px; */
  background-color: red;
}

.landing-page a:hover {
  box-shadow: var(--shadow);
}

/* How To Trade Section */

.how-to-page {
  /* background-color: orange; */
  text-align: center;
}

.how-to-page h2 {
  padding: 40px 0px;
}

.container {
  width: 60%;
  display: grid;
  grid-column-gap: 20%;
  grid-template-columns: repeat(3, 1fr); /* Defines that there should be three columns and that each have a size of one fraction unit*/
  grid-template-rows: 1fr;
  margin: 0 auto; /* Centers content */
}

.container p {
  font-size: 50px;
  padding: 40% 0%;
  border: 2px solid black;
  border-radius: 50%;
  background-color: var(--primary)
}

.how-to-page h4 {
  margin: 20px 0px;
  /* background-color: red; */
}

/* Trading Page */
.trading-area {
  padding-top: 180px;
  display: grid; /* Allows for css grid to be used*/
  grid-template: 50px 100px / repeat(2, 45%); /* The first part defines the row size and the second defines the size of the columns eg 45% percent each of the page */
  justify-content: space-evenly; /* Spaces the content evenly so that it has the same gap on both sides */
  /* background-color: pink; */
  grid-row-gap: 300px; /* Defines the gap between the rows */
}

.selected-menu {
  background-color: var(--primary);
  border: 3px solid black;
  /* display: flex; /* Allows for Flexbox to be used */
  padding: 15px;
}

.selected-menu h2 {
  background-color: orange;
  width: 80%;
}

/* .selected-menu .cost {
  background: pink;
} */

.selected-menu img {
  background-color: blue;
  /* justify-content: flex-start;  */
}

.test {
  background-color: brown;
  padding: 0px 10px;
  width: 100%;
  /* order: 0; */
}

.selected-menu .push {
  /* margin-left: auto; /* Pushes the emerald and the content past it to the left of the container */
  /* justify-content: left; */
  background-color: purple;
  /* order: 1; */
}


#user-cost, #site-cost {
  padding: 0px 10px;
}

.selection-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates four columns that are all the same size */
  background-color: var(--primary);
}

.menu-item {
  display: flex;
  align-items: center; /* Vertically centers the items */
  justify-content: left;
  font-size: 150%;
  border: 3px solid black;
  cursor: pointer; /* Cursor changes to indicate that this is clickable to user*/
}

.user-menu-misc, .site-menu-misc {
  background-color: var(--dark);
  border-bottom: none;
}

.item-area {
  background-color: var(--dark);
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* min-max defines the minimum size of the column and the max allows the column to get bigger till auto fit moves another item up */
  grid-auto-rows: 100px; /* Defines the size of rows that are automatically created */
  overflow: auto; /* When the images take up more than the container a scroll bar is added */
  height: 400%;
  padding-top: 20px;
  border: 3px solid black;
  border-top: none; /* No border on the top as this will double up with the menu item border*/
}

.item-area img {
  box-shadow: var(--shadow);
  background-color: #864629;
  border: 5px solid #aca271;
  cursor: pointer;
}

.user-food, .user-tools, .user-combat, .site-food, .site-tools, .site-combat {
  display: none; /* Display none idicates that this content should not be shown, this changes when the menu is clicked as display becomes grid activated the code below */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 15px;
}


.user-misc, .site-misc {
  display: grid; /* This is the content that should be shown to begin with before another menu is clickeds*/
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 15px;
}

.accept-button {
  margin: 50px auto;
  margin-top: 400px;
  width: 50%;
  text-align: center;
  background-color: #D32F2F; /* Red colour indicates that this should not be clicked yet as no items are selected */
  border-radius: 10px;
  padding: 15px;
  justify-content: center;
  cursor: pointer;
}

/* Question & Answer Page */

.header-text {
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.dropdowns {
  margin: 0px auto;
  width: 80%;
}

.dropdown {
  margin-bottom: 100px;
  position: relative;
}

/* Used to add more margin bottom for elements that are larger */
.long-answer {
  margin-bottom: 250px;
}

.dropbtn {
  background-color: var(--primary);
  cursor: pointer;
  border: none;
  padding: 20px 0px;
  width: 100%;
}

.dropdown-content {
  display: none; /* Hides content till activated */
  position: absolute;
  background-color: var(--dark);
  padding: 20px;
  font-size: 125%;
  width: 100%;
}

.show {display:block;} /* When .show is activated in the javascript the content will now display */

/* Footer */

footer {
  padding: 20px;
  font-size: 150%;
  background-color: var(--dark);
}

.attributation p {
  padding: 8px 0px;
}

.copyright p {
  margin-top: 10px;
  text-align: center;
}

.contact {
  float: right;
}

.contact img {
  padding: 0px 10px;
}

/* Responsive */

@media only screen and (max-width: 1310px) {
  .selected-menu {
    flex-wrap: wrap; /* Allows the content to wrap */
  }

  /* .selected-menu .push {
    margin: 0 auto;
  } */

  .trading-area {
    grid-row-gap: 400px;
  }


}

@media only screen and (max-width: 1000px) {
  header {
    position: static; /* Intentially left empty as the default position static makes nav bigger than page */
    text-align: center;
  }

  .landing-page {
    padding-top: 0px
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .selection-menu {
    grid-template-columns: repeat(2, 1fr);
  }

  .column3 {
    grid-column: 1 / -1; /* Spans the entire column length */
    width: 40%;
    margin: 0 auto;
  }

  .trading-area {
    padding-top: 80px;
  }

  .accept-button {
    margin-top: 450px;
  }

  .long-answer {
    margin-bottom: 300px;
  }

  .header-text {
    padding-top: 16px
  }
}

@media only screen and (max-width: 750px) {
  .trading-area {
    grid-template: 50px 100px 50px 100px / 95%;
    grid-template-areas:
      "user-selected"
      "user-selection"
      "site-selected"
      "site-selection";
  }

  .site-selected {
    grid-area: site-selected;
  }

  .user-selection {
    grid-area user-selection;
  }

  .site-selection {
    grid-area: site-selection;
  }
}
