/* Css Varibales */
:root {
  --primary: #4CAF50;
  --dark: #388E3C;
  --accent: #795548;
  --shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Bubblegum Sans', sans-serif;
}

a {
  text-decoration: none;
}

/* Navbar */

header {
  background-color: var(--primary);
  padding: 25px;
  box-sizing: border-box;
   /*position: fixed;  Fixes the navbar to the screen so it follows the user as they scroll down */
  width: 100%;
  /* Specifies the stack order of the navbar the heighest so that it appears over items */
  z-index: 1;
}

nav li, nav a {
  display: inline-block;
}

nav a {
  color: black;
  font-size: 20px;
  padding: 10px 50px;
  margin-left: 20px;
  border: 3px black solid;
}

nav a:hover {
  background-color: var(--accent);
}

.active {
  box-shadow: var(--shadow);
}

/* Splash Page */
.splash-page {
  margin: 20px;
  background-color: pink;
  padding: 20px 50px;
  text-align: center;
}

h1 {
  font-size: 400%;
  margin-bottom: 40px;

}
.splash-page img {
  margin-bottom: 40px;
  padding: 0 40px;
}

.splash-page a {
  color: white;
  border: 3px red solid;
   border-radius: 5px;
  padding: 8px 50px;
  font-size: 200%;
  margin-bottom: 40px;
  background-color: red;
}

.splash-page a:hover {
  box-shadow: var(--shadow);
}
